[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=MailReader
X-XFCE-CommandsWithParameter=gnome-gmail "%s"
Icon=gnome-gmail
Name=gnome-gmail
X-XFCE-Commands=gnome-gmail

