
# Ignore all files
*

# Ignore except

!.gitmodules
!.gitignore
!.gitattributes
!.bashrc
!.inputrc
!.vimrc
!.minttyrc
!.gitconfig

!README.md

!/scripts/
!/scripts/backupanki.sh
!/scripts/backupankihelper.sh

!/.config/smartgit/19.1/bugtracker.yml
!/.config/smartgit/19.1/logger.properties
!/.config/smartgit/19.1/my-words.dic
!/.config/smartgit/19.1/smartgit.properties
!/.config/smartgit/19.1/ui-state.yml
!/.config/smartgit/19.1/tools.yml
!/.config/smartgit/19.1/preferences.yml
!/.config/smartgit/19.1/notifications.yml
!/.config/smartgit/19.1/accelerators.yml
!/.config/smartgit/19.1/ui-config.yml

!/.config/smartsynchronize/
!/.config/smartsynchronize/4.1/
!/.config/smartsynchronize/4.1/accelerators.yml
!/.config/smartsynchronize/4.1/logger.properties
!/.config/smartsynchronize/4.1/notifications.yml
!/.config/smartsynchronize/4.1/port
!/.config/smartsynchronize/4.1/preferences.yml
!/.config/smartsynchronize/4.1/profiles.yml
!/.config/smartsynchronize/4.1/smartsynchronize.properties
!/.config/smartsynchronize/4.1/state.yml

# https://stackoverflow.com/questions/5261959/unignore-subdirectories-of-ignored-directories-in-git
!/.local/
!/.local/git-prompt.sh
!/.local/bin/
!/.local/bin/run_as_user.sh
!/.local/bin/_generic_timer.sh
!/.local/bin/_generic_installer.sh
!/.local/share/xfce4/helpers/custom-FileManager.desktop
!/.local/share/xfce4/helpers/custom-MailReader.desktop
!/.local/share/nemo/actions/*
!/.config/xfce4/**
/.config/xfce4/desktop

!/.config/gtk-3.0/
!/.config/gtk-3.0/**
/.config/gtk-3.0/bookmarks

!/.config/okularpartrc

!/.config/copyq/
!/.config/copyq/copyq.conf

!/.config/Thunar/
!/.config/Thunar/**
!/.config/ksysguardrc
!/.config/autokey/
!/.config/autokey/**

!/scripts/
!/scripts/**

!/.ssh/
!/.ssh/config
