[submodule "scripts/tmux-better-mouse-mode"]
	path = scripts/tmux-better-mouse-mode
	url = https://github.com/evandroforks/tmux-better-mouse-mode
[submodule "scripts/tmux-sensible"]
	path = scripts/tmux-sensible
	url = https://github.com/evandroforks/tmux-sensible
[submodule "scripts/tmux-resurrect"]
	path = scripts/tmux-resurrect
	url = https://github.com/evandroforks/tmux-resurrect
