




# Ignore all files
*

# Ignore except

!.gitmodules
!.gitignore
!.gitattributes
!.bashrc
!.inputrc
!.vimrc
!.minttyrc
!.gitconfig
!.per_computer_settings.sh

!README.md

!/.config/smartgit/18.2/accelerators.xml
!/.config/smartgit/18.2/bugtracker-settings.xml
!/.config/smartgit/18.2/confirmations.xml
!/.config/smartgit/18.2/logger.properties
!/.config/smartgit/18.2/my-words.dic
!/.config/smartgit/18.2/notifications.xml
!/.config/smartgit/18.2/settings.xml
!/.config/smartgit/18.2/smartgit.properties
!/.config/smartgit/18.2/ui-config.xml
!/.config/smartgit/18.2/ui-settings.xml

!/.local/share/nemo/actions/*
!/.local/bin/run_as_user.sh
!/.local/share/xfce4/helpers/custom-FileManager.desktop
!/.local/share/xfce4/helpers/custom-MailReader.desktop
!/.config/xfce4/**
/.config/xfce4/desktop

!/.config/Thunar/**
!/.config/ksysguardrc

