
# Ignore all files
*

# Ignore except

!.gitmodules
!.gitignore
!.gitattributes
!.bashrc
!.bash_logout
!.inputrc
!.vimrc
!.minttyrc
!.gitconfig

!README.md
!.nojekyll

!/scripts/
!/scripts/backupanki.sh
!/scripts/backupankihelper.sh

!/snap/
!/snap/remmina/
!/snap/remmina/5237/
!/snap/remmina/5237/.local/
!/snap/remmina/5237/.local/share/
!/snap/remmina/5237/.local/share/remmina/
!/snap/remmina/5237/.local/share/remmina/group_rdp_professional_192-168-0-8.remmina
!/snap/remmina/5237/.local/share/remmina/group_sftp_professional-download-files_192-168-0-8.remmina

!/snap/remmina/5237/.config/
!/snap/remmina/5237/.config/remmina/
!/snap/remmina/5237/.config/remmina/remmina.pref

!/.config/

!/.config/apport
!/.config/apport/*

!/.config/screenkey.json

!/.config/remmina/
!/.config/remmina/remmina.pref

!/.config/smartgit/
!/.config/smartgit/21.2/
!/.config/smartgit/21.2/bugtracker.yml
!/.config/smartgit/21.2/logger.properties
!/.config/smartgit/21.2/my-words.dic
!/.config/smartgit/21.2/smartgit.properties
!/.config/smartgit/21.2/ui-state.yml
!/.config/smartgit/21.2/tools.yml
!/.config/smartgit/21.2/preferences.yml
!/.config/smartgit/21.2/notifications.yml
!/.config/smartgit/21.2/accelerators.yml
!/.config/smartgit/21.2/ui-config.yml

!/.config/smartsynchronize/
!/.config/smartsynchronize/4.1/
!/.config/smartsynchronize/4.1/accelerators.yml
!/.config/smartsynchronize/4.1/logger.properties
!/.config/smartsynchronize/4.1/notifications.yml
!/.config/smartsynchronize/4.1/port
!/.config/smartsynchronize/4.1/preferences.yml
!/.config/smartsynchronize/4.1/profiles.yml
!/.config/smartsynchronize/4.1/smartsynchronize.properties
!/.config/smartsynchronize/4.1/state.yml

# https://stackoverflow.com/questions/5261959/unignore-subdirectories-of-ignored-directories-in-git
!/.local/
!/.local/git-prompt.sh
!/.local/bin/
!/.local/bin/changexfce4dpi.sh
!/.local/bin/run_as_user.sh
!/.local/bin/open_nemo_search.sh
!/.local/bin/_generic_timer.sh
!/.local/bin/_generic_installer.sh
!/.local/bin/move_window_to_workspace.sh
!/.local/bin/fix_windows_zip_paths.py
!/.local/share
!/.local/share/applications
!/.local/share/applications/sublime_text_logs.desktop
!/.local/share/applications/sublime_text_vanilla.desktop
!/.local/share/xfce4
!/.local/share/xfce4/helpers
!/.local/share/xfce4/helpers/custom-FileManager.desktop
!/.local/share/xfce4/helpers/custom-MailReader.desktop
!/.local/share/nemo/
!/.local/share/nemo/actions
!/.local/share/nemo/actions/**
!/.local/share/desktop-directories/
!/.local/share/desktop-directories/menulibre-remminadesktops.directory
!/.local/share/themes/
!/.local/share/themes/border-only/
!/.local/share/themes/border-only/**
!/.config/xfce4/**
/.config/xfce4/desktop

!/.config/xfce4/
!/.config/xfce4/panel/
!/.config/xfce4/panel/whiskermenu-1.rc
!/.config/xfce4/panel/whiskermenu-4.rc

!/.config/gtk-3.0/
!/.config/gtk-3.0/**
/.config/gtk-3.0/bookmarks

!/.config/okularpartrc

!/.config/copyq/
!/.config/copyq/copyq.conf

!/.config/Thunar/
!/.config/Thunar/**
!/.config/ksysguardrc
!/.config/autokey/
!/.config/autokey/**

!/scripts/
!/scripts/**
/scripts/xfce4

!/.ssh/
!/.ssh/config

*.log
