[user]
	email = github.com/evandrocoan
	name = evandrocoan
#[credential]
#	helper = wincred
[core]
	autocrlf = false
	eol = lf
[branch]
	autosetuprebase = always
[gc]
	autoDetach = false
[pull]
	rebase = true
[commit]
	gpgSign = false
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

