<?xml version="1.0" encoding="UTF-8"?>
<obj key="Preferences" type="@Preferences">
	<obj key="actions" type="@ActionSettings">
		<obj key="cleanup" type="@CleanupSettings">
			<prop key="gcIntervalDays" type="int" value="0"/>
		</obj>
		<obj key="commit" type="@CommitSettings">
			<prop key="missing" type="boolean" value="true"/>
			<prop key="untracked" type="boolean" value="false"/>
			<prop key="monospaceFont" type="boolean" value="true"/>
			<prop key="messageLineLimits" type="boolean" value="false"/>
			<prop key="preferStaged" type="boolean" value="false"/>
			<prop key="trimMessage" type="boolean" value="true"/>
		</obj>
		<obj key="compare" type="@CompareSettings">
			<collection key="fileComparators" type="Object">
				<obj type="@FileComparator">
					<prop key="filePattern" type="String" value="*"/>
					<prop key="compareType" type="int" value="0"/>
					<obj key="externalFileCompare" type="@FileStarter">
						<prop key="command" type="_NULL_" value=""/>
						<prop key="parameters" type="_NULL_" value=""/>
					</obj>
				</obj>
			</collection>
			<prop key="compareWithWorkingTree" type="boolean" value="false"/>
		</obj>
		<obj key="conflictSolver" type="@ConflictSolverSettings">
			<collection key="conflictSolvers" type="Object">
				<obj type="@ConflictSolver">
					<prop key="filePattern" type="String" value="*"/>
					<prop key="useExternal" type="boolean" value="false"/>
					<obj key="externalTool" type="@FileStarter">
						<prop key="command" type="_NULL_" value=""/>
						<prop key="parameters" type="_NULL_" value=""/>
					</obj>
				</obj>
			</collection>
			<prop key="showExternalResolveDialog" type="boolean" value="true"/>
			<prop key="swapOursTheirsOnRebase" type="boolean" value="true"/>
		</obj>
		<obj key="stash" type="@StashSettings">
			<prop key="stashAutomatically" type="boolean" value="false"/>
			<prop key="includeUntrackedFiles" type="boolean" value="false"/>
		</obj>
		<prop key="initCommitMessage" type="String" value="initial commit"/>
		<prop key="alwaysConfigureTracking" type="boolean" value="true"/>
		<prop key="allowModificationOfPushedHistory" type="boolean" value="true"/>
		<prop key="pushTags" type="boolean" value="false"/>
		<prop key="syncPushBeforePull" type="boolean" value="true"/>
		<prop key="refreshRenameDetection" type="boolean" value="true"/>
		<prop key="refreshRenameDetectionUntrackedMissing" type="boolean" value="true"/>
		<prop key="refreshRenameDetectionWarnings" type="boolean" value="true"/>
		<prop key="refreshInspectEols" type="boolean" value="true"/>
		<prop key="backgroundRefreshing" type="boolean" value="false"/>
		<prop key="backgroundScan" type="boolean" value="false"/>
		<prop key="backgroundPoll" type="boolean" value="true"/>
		<prop key="backgroundFetchClosed" type="boolean" value="false"/>
		<prop key="backgroundFetchOpen" type="boolean" value="true"/>
	</obj>
	<obj key="logSettings" type="@GitLogSettings">
		<prop key="includeTrackedBranches" type="boolean" value="true"/>
		<prop key="groupCommitsByBranch" type="boolean" value="true"/>
		<prop key="loadGravatars" type="boolean" value="true"/>
		<prop key="allowCommandsOnSpecialCommits" type="boolean" value="true"/>
		<prop key="enableHostingProvider" type="boolean" value="true"/>
		<prop key="allowMultipleWindowsForSameLocation" type="boolean" value="true"/>
		<obj key="filterConfiguration" type="@FilterState">
			<prop key="enteredPattern" type="_NULL_" value=""/>
			<collection key="patterns" type="String"/>
			<prop key="regularExpressions" type="boolean" value="false"/>
			<collection key="keys" type="String"/>
		</obj>
	</obj>
	<obj key="comparePreviewSettings" type="@ComparePreviewSettings">
		<prop key="compareType" type="String" value="index-vs-head"/>
		<prop key="selectCompareTypeAutomatically" type="boolean" value="true"/>
	</obj>
	<obj key="dateFormat" type="@DateFormatSettings">
		<prop key="datePattern" type="String" value="MM/dd/yyyy"/>
		<prop key="timePattern" type="String" value="hh:mm a"/>
		<prop key="timeZone" type="String" value=""/>
		<prop key="showTimeForLastDays" type="boolean" value="true"/>
	</obj>
	<obj key="defaultViewSettings" type="@MergeSettings">
		<obj key="compareSettings" type="@CompareEditorSettings">
			<obj key="textSettings" type="@TextComponentViewSettings">
				<prop key="tabSize" type="int" value="4"/>
				<prop key="whitespaces" type="int" value="2"/>
				<prop key="showLineNumbers" type="boolean" value="true"/>
			</obj>
			<prop key="ignoreLineSeparators" type="boolean" value="true"/>
			<prop key="whitespaceIgnoreType" type="String" value="none"/>
			<prop key="ignoreCaseChanges" type="boolean" value="false"/>
			<prop key="trimInnerLineChanges" type="boolean" value="true"/>
			<prop key="unifiedScrollBarVisibleOption" type="boolean" value="true"/>
			<prop key="innerLineComparisonType" type="String" value="alphanumeric"/>
			<prop key="splitLeadingAndTrailingAdditionsAndRemovals" type="boolean" value="false"/>
			<prop key="coalesceNearbyChangeBlocks" type="boolean" value="true"/>
		</obj>
	</obj>
	<obj key="git" type="@GitSettings">
		<prop key="gitExe" type="String" value="/usr/bin/git"/>
		<prop key="gitExe.maxCount" type="int" value="3"/>
		<prop key="gitExe.count" type="int" value="1"/>
		<prop key="gitExe.0" type="String" value="/usr/bin/git"/>
		<prop key="useSystemGitFlow" type="boolean" value="false"/>
	</obj>
	<obj key="hg" type="@HgSettings">
		<prop key="hgExe" type="_NULL_" value=""/>
		<prop key="hgExe.absolute" type="_NULL_" value=""/>
		<prop key="hgExe.maxCount" type="int" value="3"/>
		<prop key="hgExe.count" type="int" value="0"/>
	</obj>
	<obj key="ssh" type="@SshSettings">
		<prop key="useOwnSshClient" type="boolean" value="true"/>
	</obj>
	<obj key="deepGit2" type="@DeepGitSettings2">
		<prop key="followRenames" type="boolean" value="true"/>
		<prop key="extendLineToBlock" type="boolean" value="true"/>
		<prop key="optimizeCreationOrigins" type="boolean" value="true"/>
		<prop key="ignoreWhitespaceOnlyChanges" type="boolean" value="true"/>
		<prop key="showLineNumbers" type="boolean" value="true"/>
		<prop key="highlightBlameChanges" type="boolean" value="false"/>
		<prop key="highlightOriginChanges" type="boolean" value="false"/>
		<prop key="preferSimpleBlamePerspective" type="boolean" value="true"/>
		<prop key="lineHistoryVisible" type="boolean" value="false"/>
		<prop key="encoding" type="_NULL_" value=""/>
	</obj>
	<obj key="globalTextComponentSettings" type="@GlobalTextSettings">
		<obj key="font" type="@FontSettings">
			<prop key="fontFamily" type="String" value="Ubuntu Mono"/>
			<prop key="fontSize" type="int" value="11"/>
		</obj>
		<obj key="colors.light" type="@ColorSettings">
			<prop key="foregroundText" type="int" value="0"/>
			<prop key="foregroundGutter" type="int" value="9868950"/>
			<prop key="foregroundWhitespace" type="int" value="12632256"/>
			<prop key="foregroundTrailingWhitespace" type="int" value="12624064"/>
			<prop key="backgroundEditable" type="int" value="16777215"/>
			<prop key="backgroundReadOnly" type="int" value="16185078"/>
			<prop key="backgroundGutter" type="int" value="16316661"/>
			<prop key="backgroundComment" type="int" value="16182243"/>
			<prop key="backgroundCurrentLine" type="int" value="16185004"/>
			<prop key="backgroundCompactSeparator" type="int" value="15132390"/>
			<prop key="foregroundCompactSeparator" type="int" value="10526880"/>
			<prop key="highlightCurrentLine" type="boolean" value="true"/>
			<prop key="color-annotation" type="int" value="8421376"/>
			<prop key="color-attrib-name" type="int" value="255"/>
			<prop key="color-attrib-value" type="int" value="32768"/>
			<prop key="color-comment" type="int" value="8421504"/>
			<prop key="color-declaration" type="int" value="0"/>
			<prop key="color-keyword" type="int" value="128"/>
			<prop key="color-literal" type="int" value="255"/>
			<prop key="color-no-code" type="int" value="0"/>
			<prop key="color-plain-text" type="int" value="0"/>
			<prop key="color-punctuation" type="int" value="0"/>
			<prop key="color-source" type="int" value="0"/>
			<prop key="color-string" type="int" value="32768"/>
			<prop key="color-tag" type="int" value="128"/>
			<prop key="color-type" type="int" value="0"/>
			<prop key="backgroundModified" type="int" value="16763080"/>
			<prop key="backgroundAdded" type="int" value="12513470"/>
			<prop key="backgroundRemoved" type="int" value="13158655"/>
			<prop key="backgroundModifiedCS" type="int" value="16763080"/>
			<prop key="backgroundAddedCS" type="int" value="12513470"/>
			<prop key="backgroundRemovedCS" type="int" value="13158655"/>
			<prop key="backgroundConflict" type="int" value="16755370"/>
		</obj>
		<obj key="colors.dark" type="_NULL_"/>
		<prop key="colors.useDark" type="boolean" value="false"/>
		<obj key="actions" type="@TextActionSettings">
			<prop key="smartHome" type="boolean" value="true"/>
			<prop key="homeEndToLineNotDocument" type="boolean" value="true"/>
			<prop key="cursorLeftRightLimitToLine" type="boolean" value="true"/>
			<prop key="smartEnterAutoIndent" type="boolean" value="false"/>
			<prop key="smartEnterDeleteWhitespace" type="boolean" value="true"/>
			<prop key="smartEnterIgnoreEmptyLinesForIndentation" type="boolean" value="true"/>
			<prop key="focusNextChangeAfterTakingChange" type="boolean" value="true"/>
		</obj>
		<obj key="syntaxHighlightingSettings" type="@SyntaxHighlightingSettings">
			<collection key="entries" type="Object">
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.aea, *.agc, *.apollo"/>
					<prop key="language" type="String" value="Apollo"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.basic, *.cbm, *.vb, *.vbs"/>
					<prop key="language" type="String" value="Basic"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.cs"/>
					<prop key="language" type="String" value="C#"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.c, *.cc, *.cpp, *.cxx, *.cyc, *.h, *.ino, *.m"/>
					<prop key="language" type="String" value="C/C++"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.css, *.css-kw, *.css-str"/>
					<prop key="language" type="String" value="CSS"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.clj"/>
					<prop key="language" type="String" value="Clojure"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.coffee"/>
					<prop key="language" type="String" value="CoffeeScript"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.dart"/>
					<prop key="language" type="String" value="Dart"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.erl, *.erlang"/>
					<prop key="language" type="String" value="Erlang"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.fs"/>
					<prop key="language" type="String" value="F#"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.go"/>
					<prop key="language" type="String" value="Go"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.htm, *.html, *.xhtml"/>
					<prop key="language" type="String" value="HTML"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.hs"/>
					<prop key="language" type="String" value="Haskell"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.json"/>
					<prop key="language" type="String" value="JSON"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.java"/>
					<prop key="language" type="String" value="Java"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.javascript, *.js"/>
					<prop key="language" type="String" value="JavaScript"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.ll, *.llvm"/>
					<prop key="language" type="String" value="LLVM"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.cl, *.el, *.lisp, *.lsp, *.rkt, *.scm, *.ss"/>
					<prop key="language" type="String" value="Lisp"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.lua"/>
					<prop key="language" type="String" value="Lua"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.matlab"/>
					<prop key="language" type="String" value="Matlab"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.mumps"/>
					<prop key="language" type="String" value="Mumps"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.n, *.nemerle"/>
					<prop key="language" type="String" value="Nemerle"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.ml"/>
					<prop key="language" type="String" value="OCaml"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.php, *.php3, *.php4, *.php5, *.phps, *.phtml"/>
					<prop key="language" type="String" value="PHP"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.pas, *.pascal"/>
					<prop key="language" type="String" value="Pascal"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.perl, *.pl, *.pm"/>
					<prop key="language" type="String" value="Perl"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.proto"/>
					<prop key="language" type="String" value="Protocol Buffer File"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.cv, *.py, *.python, *.pyw"/>
					<prop key="language" type="String" value="Python"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.R, *.S, *.Splus, *.r, *.s"/>
					<prop key="language" type="String" value="R"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.Rd, *.rd"/>
					<prop key="language" type="String" value="Rd"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.regex"/>
					<prop key="language" type="String" value="Regular Expression"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.rb, *.ruby"/>
					<prop key="language" type="String" value="Ruby"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.rc, *.rs, *.rust"/>
					<prop key="language" type="String" value="Rust"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.sql"/>
					<prop key="language" type="String" value="SQL"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.scala"/>
					<prop key="language" type="String" value="Scala"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.bash, *.bsh, *.csh, *.sh"/>
					<prop key="language" type="String" value="Shell Script"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.tcl"/>
					<prop key="language" type="String" value="Tcl"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.latex, *.tex"/>
					<prop key="language" type="String" value="TeX/LaTeX"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.vhd, *.vhdl"/>
					<prop key="language" type="String" value="VHDL &apos;93"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.wiki"/>
					<prop key="language" type="String" value="Wiki"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.mxml, *.storyboard, *.xib, *.xml"/>
					<prop key="language" type="String" value="XML"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.xq, *.xquery"/>
					<prop key="language" type="String" value="XQuery"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.xsl"/>
					<prop key="language" type="String" value="XSL"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.yaml, *.yml"/>
					<prop key="language" type="String" value="YAML"/>
				</obj>
				<obj type="@SyntaxHighlightingSettingsEntry">
					<prop key="pattern" type="String" value="*.default-code, *.default-markup, *.in.tag, *.uq.val"/>
					<prop key="language" type="_NULL_" value=""/>
				</obj>
			</collection>
		</obj>
	</obj>
	<obj key="listx" type="@L">
		<prop key="eUT" type="long" value="-9223372036854775808"/>
		<prop key="nRT" type="long" value="-9223372036854775808"/>
		<prop key="lLCT" type="long" value="1557837632583"/>
		<prop key="ePP" type="long" value="0"/>
		<prop key="eV" type="String" value="18.2"/>
		<prop key="uid" type="String" value="x36627274560"/>
	</obj>
	<obj key="project" type="@GlobalProjectSettings">
		<prop key="reopenLastUsedRepositories" type="boolean" value="true"/>
		<prop key="showWelcomeDialog" type="boolean" value="false"/>
		<prop key="preferLogWindow" type="boolean" value="false"/>
	</obj>
	<obj key="uiSettings" type="@UiSettings">
		<prop key="useBackgroundColorInFileTable" type="boolean" value="true"/>
		<prop key="fileSearchPatternType" type="int" value="1"/>
		<prop key="theme" type="_NULL_" value=""/>
		<prop key="themeChanged" type="boolean" value="false"/>
	</obj>
	<obj key="vcsRecords" type="@VcsRecords">
		<prop key="lastGitUsage" type="long" value="1560361787124"/>
		<prop key="lastSvnUsage" type="long" value="0"/>
		<prop key="lastHgUsage" type="long" value="0"/>
		<prop key="lastReviewUsage" type="long" value="0"/>
		<prop key="lastDgUsage" type="long" value="0"/>
	</obj>
	<obj key="updateCheck" type="@UpdateAutoCheckSettings">
		<prop key="mode" type="String" value="download"/>
		<prop key="prevCheckTime" type="long" value="1560355186982"/>
		<prop key="checkedBuild" type="int" value="13251"/>
		<prop key="upgradeInstallation" type="boolean" value="false"/>
		<prop key="previewAlwaysCheckForLatestBuild" type="boolean" value="false"/>
	</obj>
	<obj key="updateCheckDg" type="_NULL_"/>
	<obj key="proxy" type="@HttpProxySettings">
		<prop key="autoDetect" type="boolean" value="true"/>
		<prop key="proxyHost" type="_NULL_" value=""/>
		<prop key="proxyPort" type="int" value="3128"/>
		<prop key="proxyUser" type="_NULL_" value=""/>
		<prop key="useProxy" type="boolean" value="false"/>
		<prop key="authenticate" type="boolean" value="false"/>
	</obj>
	<prop key="proxyPassword" type="int" value="90"/>
	<obj key="spellCheck" type="@SpellCheckSettings">
		<collection key="dictionaries" type="Object">
			<obj type="@SpellCheckDictionarySet" id="80">
				<prop key="name" type="String" value="en_US"/>
				<prop key="file" type="String" value="${smartgit.install}/dictionaries/en_US.dic"/>
				<prop key="file.absolute" type="String" value="/usr/share/smartgit/dictionaries/en_US.dic"/>
			</obj>
			<obj type="@SpellCheckDictionarySet">
				<prop key="name" type="String" value="Portuguese (Brazilian)"/>
				<prop key="file" type="String" value="/myfiles/Programs/SpellCheckDicts/Portuguese (Brazilian).dic"/>
			</obj>
		</collection>
		<ref key="activeDictionary" type="@SpellCheckDictionarySet" id="80"/>
		<prop key="personalFile" type="String" value="${smartgit.settings}/my-words.dic"/>
		<prop key="personalFile.absolute" type="String" value="/home/evandro/.config/smartgit/18.2/my-words.dic"/>
		<prop key="useOnlyBestOfficial" type="boolean" value="false"/>
		<prop key="deleted" type="boolean" value="false"/>
	</obj>
	<prop key="warnForMissingMasterPassword" type="boolean" value="false"/>
	<prop key="askForMasterPasswordOnStartup" type="boolean" value="false"/>
	<prop key="sendStacktraces2" type="boolean" value="true"/>
	<prop key="sendStacktracesBeta" type="boolean" value="false"/>
	<prop key="machineId" type="String" value="f3f90f38"/>
	<prop key="lastUsedVersion" type="String" value="18.2"/>
	<collection key="tempDirs" type="String">
		<prop type="String" value="/tmp/smartgit-5515141114275858264tmp"/>
	</collection>
</obj>
