[Settings]
ShowAllProcesses=TRUE
MorePrecision=TRUE
FullCommandLine=TRUE
ShowStatusIcon=FALSE
ShowMemoryInXBytes=TRUE
MonitorPaintBox=TRUE
ShowApplicationIcons=TRUE
ToolbarStyle=DEFAULT
PromptTerminateTask=TRUE
RefreshRate=750
ColumnUID=TRUE
ColumnPID=TRUE
ColumnPPID=TRUE
ColumnState=TRUE
ColumnVSZ=TRUE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=TRUE
SortColumn=7
SortType=1
WindowWidth=1920
WindowHeight=1023
HandlePosition=167
ProcessTreeView=FALSE
