[Desktop Entry]
Version=1.0
Type=Application
Name=Sublime Text Logs
GenericName=Text Editor
Comment=Sophisticated text vanilla editor for code, markup and prose
Exec=run_as_user.sh sublime4 /myfiles/Programs/sublime_text/current/sublime_text %F
Terminal=false
MimeType=text/plain;
Icon=sublime-text
Categories=TextEditor;Development;
StartupNotify=true
Actions=new-window;new-file;

[Desktop Action new-window]
Name=New Window
Exec=run_as_user.sh sublime4 /myfiles/Programs/sublime_text/current/sublime_text --launch-or-new-window
OnlyShowIn=Unity;

[Desktop Action new-file]
Name=New File
Exec=run_as_user.sh sublime4 /myfiles/Programs/sublime_text/current/sublime_text --command new_file
OnlyShowIn=Unity;
