[Unit]
Description=Run scripts/monitor_screen_lock.py
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=60
WorkingDirectory=%h/scripts/
ExecStart=/bin/bash --login -c 'python3 %h/scripts/monitor_screen_lock.py'

[Install]
WantedBy=default.target
